body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  color: white;
}

.counter {
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 36px;
  color : white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: orangered;

}

button:hover {
  background-color: #ddd;
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header {
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
}

